.button {
        cursor: pointer;
        width: 45%;
        height: 45px;
        border: 2px solid var(--currency-color);
        border-radius: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
}
