.wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    position: relative;
    padding: 12px;
    width: 90%;
    height: 200px;
    border-radius: 25px;
    background: var(--button-BColor);
    overflow: hidden;
}

.cardHeader {
    display: flex;
    justify-content: space-between;
}

.cardTitle {
    font-size: 12px;
    font-weight: 700;
}

.mainBalance {
    font-size: 31px;
    font-weight: 700;
}

.currency {
    position: absolute;
    right: 20px;
    font-size: 31px;
    font-weight: 700;
}

.subBalance {
    margin-bottom: 10px;
    color: #F0E666;
    font-size: 17px;
}

.walletNumber {
    margin-bottom: 6px;
    color: #4EEFDC;
    font-size: 12px;
}

.userName {
    margin-bottom: 16px;
    font-size: 14px;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 20px;
    z-index: 3;
}

.cardFooterBox {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 3;
}

.cardId {
    margin-bottom: -2px;
    font-size: 23px;
    font-weight: 700;
    z-index: 3;
}

.cardStatus {
    margin-bottom: 2px;
    color: rgba(239, 0, 74, 0.90);
    font-size: 16px;
    font-weight: 700;
}

.network {
    position: absolute;
    z-index: 1;
    right : 10px;
    bottom: -25px;
    font-size: 90px;
    background-image: linear-gradient(to right, rgba(136, 136, 135, 0.2), rgba(255, 215, 0, 0.8));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}