.container {
}

.cardRow {
    padding: 10px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    border-top: 2px solid #3a454e;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonL {
    border-right: 2px solid #3a454e;
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonR {
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
