.sliderContainer {
    width: 85%;
    height: 45px;
    border: 2px solid var(--card-color);;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.sliderBackground {
    width: 100%;
    height: 100%;
    position: relative;
}

.sliderButton {
display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
    background-color: #363636;
    border-radius: 20px;
    position: absolute;
    top: 0;
    left: 0;
}

.completionOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4CAF50; /* Пример цвета фона */
    color: white; /* Цвет текста */
    font-size: 20px; /* Размер текста */
    position: absolute;
    top: 0;
    left: 0;
}

.rejectOverlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #af4c4c; /* Пример цвета фона */
    color: white; /* Цвет текста */
    font-size: 20px; /* Размер текста */
    position: absolute;
    top: 0;
    left: 0;
}
