.transactionList {
    padding: 10px;
    color: #fff; /* Яркий текст для читаемости на темном фоне */
}

.transactionCard {
    margin-bottom: 15px;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: var(--card-color);
    color: #3a454e;
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.cardRow {
    display: flex;
    justify-content: space-between; /* Располагаем элементы на разных концах карточки */
    align-items: center;
}

.dateTime {
    color: #3a454e; /* Приглушенный зеленый для ввода */
    font-size: 16px;
    margin-right: 10px; /* Отступ между датой и суммой */
}

.amount {
    font-size: 16px;
}
