.transactionList {
    padding: 10px;
    color: #fff; /* Яркий текст для читаемости на темном фоне */
}

.transactionCard {
    display: flex;
    justify-content: space-between; /* Располагаем элементы на разных концах карточки */
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
    background-color: #373B38;
    transition: background-color 0.3s; /* Плавный переход цвета фона */
}

.income {
    color: #66CDAA; /* Приглушенный зеленый для ввода */
}

.outcome {
    color: #CD5C5C; /* Приглушенный красный для вывода */
}

.dateTime {
    font-size: 16px;
    margin-right: 10px; /* Отступ между датой и суммой */
}

.amount {
    font-size: 16px;
}
